* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-image: url(/assets/img/fondo.png);
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: var(--light-color-acento-1);
  font-size: bolder;
}

.main-recuperar {
  width: 32em;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  border-color: var(--txt-actual);
}

.submit {
  padding: 0.5em 1em;
  width: fit-content;
  background-color: var(--light-color-acento-1);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.7;
}

button:not(:disabled) {
  background-color: var(--light-color-acento-1);
  cursor: pointer;
}

.main-registro button:hover {
  background-color: black;
  color: white;
  transform: scale(1.02);
}

input {
  height: 40px;
  width: auto;
  font-size: 1rem;
  border: 0.2em solid black;
  border-radius: 0.5em;
  width: fit-content;
}


.check label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}


.check input {
  margin: 3px;
  width: 18px;
  height: 18px;
}

@media(max-width: 410px) {
  input {
    font-size: 12px;
  }

  .main-registro {
    font-size: 12px;
  }
}

@media (min-width: 1980px) {
  input {
    font-size: 22px;
  }

  .main-registro {
    font-size: 20px;
  }
}