/*estilos-datos-personales.css*/

* {
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url(/assets/img/fondo.png);
}

.form-container {
    max-width: 38em;
    padding: 1.2em;
    border: 0.2em solid black;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color-fondo);
}

.contenedor-datos-personales {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 1em;
    border: 0.3em solid black;

}

hr {
    border: none;
    border-top: 0.1em solid var(--light-color-acento-3);
    margin: 0.01em 0;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

input {
    font-size: 1rem;
    border: 0.2em solid black;
    border-radius: 0.5em;
    width: fit-content;
}

.nav-cuenta {
    font-size: 1.1rem;
    margin: 1rem 0;
}

.nav-cuenta a {
    color: var(--light-color-acento-2);
    text-decoration: none;
}

.nav-cuenta a + ::before {
    content: "•";
    color: gray;
    margin: 0 0.4rem;
    font-size: 0.9rem;
}

.mi-usuario {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.mi-contraseña {
    display: flex;
    flex-direction: column;
}

.mi-contraseña-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mi-contraseña-form button {
    width: 12em;
    border: none;
    margin-top: 1em;
    
}

.mi-contraseña-form button:hover {
    background-color: black;
    color: white;
    transform: scale(1.02);
}

.form-datos-personales section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.8em auto;

}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

}

.form-datos-personales button {
   margin-top: 1em;

}

.form-container button {
    padding: 0.5em 1em;
    width: fit-content;
    background-color: var(--light-color-acento-1);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.form-container button:hover {
    background-color: black;
    color: white;
    transform: scale(1.02);
}

@media (min-width: 600px) {
    .form-field {
        width: 45%;
    }

    .form-container {
        margin: 1em auto;
    }
}