@import url("temas-colores-fuentes.css");

* {
   margin: 0;
   box-sizing: border-box;
}

body {
   background-image: url(/assets/img/fondo.png);
}

input {
   font-size: 1rem;
   border: 0.2em solid black;
   border-radius: 0.5em;
   width: fit-content;
}

#encabezado-principal {
   color: white;
   padding: 10px;
}

.tab-categoria {
   font-size: 28px;
}

#navegacion-categoria {
   display: flex;
   align-items: center;
   list-style: none;
   text-decoration: none;
   gap: 20px;
   padding: 10px;
   justify-content: space-evenly;
}

nav a {
   text-decoration: none;
   font-size: 22px;
   font-weight: bold;
}

nav a:hover {
   transform: scale(1.1);
   transition: 0.3s ease;
}

#seccion-categoria {
   min-height: 720px;
   width: auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
   gap: 20px;
   padding: 20px;
   border-radius: 2em;
}

.articulo-categoria {
   display: flex;
   flex-direction: column;
   height: 100%;
   border-radius: 1em;
   overflow: hidden;
}

.item-valor-nombre,
.item-valor-autor {
   font-size: 24px;
   font-weight: bold;
   margin-top: 10px;
}

#qr-code {
   width: 100px;
   height: 100px;
}

.item-valor-portada {
   width: 100%;
   aspect-ratio: 16/ 9;
   object-fit: cover;
   border-radius: 0.2em;
}

.header-articulo {
   flex: 1;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.detalle-articulo {
   flex: 1;
   display: flex;
   flex-direction: column;
   padding: 1rem;
}

#encabezado-principal {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-height: 5em;
}

.buscador input {
   width: 20em;
   height: 2em;
}

.logo img {
   width: 110px;
   height: 120px;
}

.icons a {
   margin-right: 2em;
}

.icons i {
   color: white;
   font-size: 1.3em;
}

.header-articulo {
   gap: 10px;
   padding: 10px;
}


/*Estilos Footer*/
#footer-principal {
   color: white;
}

footer {
   background-color: #222;
   color: white;
   width: 100%;
}

.footer-container {
   display: flex;
   justify-content: space-around;
   text-align: center;
   flex-wrap: wrap;
   padding: 30px;
}

.footer-container ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.footer-container .redes-sociales {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.footer-container a {
   color: white;
   text-decoration: none;
}

.icons a {
   margin: 0 8px;
   font-size: 1.4rem;
}

@media (max-width: 768px) {
   .footer-container {
      flex-direction: column;
      align-items: center;
      gap: 1em;
   }
}

/*Fin estilos Footer*/

/*estilos-principal responsive*/
@media (max-width: 768px) {
   .buscador input {
      width: 10em;
      height: 2em;
   }

   #seccion-categoria {
      grid-template-columns: 1fr;
   }

   .logo a img {
      width: 65px;
      height: 85px;
   }

   .icons a {
      margin-right: 0.2em;
   }

   .icons i {
      font-size: 1em;
   }

   .tab-categoria {
      font-size: 1.1em;
   }

   #encabezado-principal {
      justify-content: space-between;
   }
}

/*Fin estilos-principal responsive*/