@import url('https://fonts.googleapis.com/css2?family=Exo+2');
@import url('https://fonts.googleapis.com/css2?family=Prompt');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans');

:root {
   --light-color-texto: #000000;
   --light-color-fondo: #ffffff;
   --light-color-acento-1: #23479d;
   --light-color-acento-2: #808080;
   --light-color-acento-3: #c4c8dd;
   --dark-color-texto: #ffffff;
   --dark-color-fondo: #202020;
   --dark-color-acento-1: #293156;
   --dark-color-acento-2: #808080;
   --dark-color-acento-3: #051c51;

   --bg-actual: var(--light-color-fondo);
   --txt-actual: var(--light-color-texto);
   --acento-primario: var(--light-color-acento-1);
   --acento-secundario: var(--light-color-acento-2);
}

body.dark-mode {
   --bg-actual: var(--dark-color-fondo);
   --txt-actual: var(--dark-color-texto);
   --acento-primario: var(--dark-color-acento-1);
   --acento-secundario: var(--dark-color-acento-2);
}

body,
html {
   background-color: var(--bg-actual);
   color: var(--txt-actual);
   transition: background-color 0.3s ease, color 0.3s ease;
}

.header-articulo,
.detalle-articulo,
#encabezado-principal,
.item-valor-nombre,
#navegacion-categoria {
   background-color: var(--acento-primario);
}

.header-articulo p,
.header-articulo span,
#navegacion-categoria .tab-categoria,
.carrusel-item h3 {
   color: #ffffff;
   font-family: 'Prompt';
}

.tab-categoria,
.titulo-datos-personales h2,
.footer-container, p, .aviso-vacio {
   font-family: 'Exo 2';
}

.form-container,
.main-registro, .main-recuperar {
   font-family: 'Work Sans', serif;
}

.carrusel-item h3{
color: var(--txt-actual);
}

.contenedor-datos-personales, .main-login, .main-registro, .main-recuperar {
   color: black;
}